table:not(.pika-table):not(.gl-table) {
  width: 100%;
  color: $text-color;
  border: $border-width solid $border-color;
  border-collapse: collapse;
  text-align: left;
  @extend .m-b-6;

  thead {
    background: $gray-50;
    border-bottom: ($border-width * 2) solid $border-color;

    th {
      font-weight: $font-weight--bold;
    }
  }

  th,
  td {
    border: $border-width solid $border-color;
    padding: $gl-spacing-3;
    font-weight: $font-weight--normal;

    &.header {
      font-weight: $font-weight--bold;
      background: $gray-50;
    }
  }

  td.f-bold{
    font-weight: $font-weight--bold;
  }
}

.status-table {
  table-layout: fixed;

  th {
    position: sticky;
    top: -2px;
  }

  td:not(:first-child) {
    color: $black;

    a {
      text-decoration: none;
      color: $black;
    }
  }
}
